In [ ]:
import numpy as np
import pandas as pd
from numpy import inf , nan , NaN

In [ ]:
db_train = pd.read_csv("/content/train.csv")

In [ ]:
db_train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [ ]:
columns =['MSZoning','Street','SaleType','Alley','LotShape','LandContour','Utilities', 'LotConfig','LandSlope','Neighborhood','Condition1','Condition2','BldgType','HouseStyle','RoofStyle','RoofMatl','Exterior1st','Exterior2nd','MasVnrType','ExterQual','ExterCond','Foundation','BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinType2','Heating','HeatingQC','CentralAir', 'Electrical','KitchenQual','Functional','FireplaceQu','GarageType','GarageFinish','GarageQual','GarageCond','PavedDrive','PoolQC','Fence', 'MiscFeature', 'SaleCondition']
for colum in columns:
	db_train[colum]=db_train[colum].replace(np.nan,0)
	colum_values = []
	for i in db_train[colum].values :
		if i not in colum_values:
			colum_values.append(i)
	j=1
	for i in colum_values :
		db_train[colum]=db_train[colum].apply(lambda x : j if x == i else x)
		j+=1

In [ ]:
db_train.LotFrontage=db_train.LotFrontage.replace(np.nan, db_train.LotFrontage.mean())

In [ ]:
db_train['Age'] = 2021 - db_train.YearBuilt

In [ ]:
db_train['Remoded'] =  2021 - db_train.YearRemodAdd

In [ ]:
db_train.drop('YearBuilt', axis=1, inplace=True)
db_train.drop('YearRemodAdd', axis=1, inplace=True)
db_train.drop('GarageYrBlt', axis=1, inplace=True)

In [ ]:
db_train.MasVnrArea=db_train.MasVnrArea.replace(np.nan, db_train.MasVnrArea.mean())

In [ ]:
db_train.head(5)

   Id  MSSubClass  MSZoning  ...  SalePrice  Age  Remoded
0   1          60         1  ...     208500   18       18
1   2          20         1  ...     181500   45       45
2   3          60         1  ...     223500   20       19
3   4          70         1  ...     140000  106       51
4   5          60         1  ...     250000   21       21

[5 rows x 80 columns]

In [ ]:
test_db=pd.read_csv("/content/train.csv")

In [ ]:
def data_cleaning (db_train):
	columns =['MSZoning','Street','SaleType','Alley','LotShape','LandContour','Utilities', 'LotConfig','LandSlope','Neighborhood','Condition1','Condition2','BldgType','HouseStyle','RoofStyle','RoofMatl','Exterior1st','Exterior2nd','MasVnrType','ExterQual','ExterCond','Foundation','BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinType2','Heating','HeatingQC','CentralAir', 'Electrical','KitchenQual','Functional','FireplaceQu','GarageType','GarageFinish','GarageQual','GarageCond','PavedDrive','PoolQC','Fence', 'MiscFeature', 'SaleCondition']
	for colum in columns:
		db_train[colum]=db_train[colum].replace(np.nan,0)
		colum_values = []
		for i in db_train[colum].values :
			if i not in colum_values:
				colum_values.append(i)
		j=1
		for i in colum_values :
			db_train[colum]=db_train[colum].apply(lambda x : j if x == i else x)
			j+=1
	db_train.LotFrontage=db_train.LotFrontage.replace(np.nan, db_train.LotFrontage.mean())
	db_train['Age'] = 2021 - db_train.YearBuilt
	db_train['Remoded'] =  2021 - db_train.YearRemodAdd 
	db_train.drop('YearBuilt', axis=1, inplace=True)
	db_train.drop('YearRemodAdd', axis=1, inplace=True)
	db_train.drop('GarageYrBlt', axis=1, inplace=True)
	db_train.MasVnrArea=db_train.MasVnrArea.replace(np.nan, db_train.MasVnrArea.mean())
	return db_train

In [ ]:
df = data_cleaning(test_db)

In [ ]:
df=df.astype('int64')

In [ ]:
df.info()

In [ ]:
Y = np.asarray(df['SalePrice'])
df.drop('SalePrice', axis=1, inplace=True)
df.drop('Id', axis=1, inplace=True)
X = np.asarray(df)

In [ ]:
df.drop('Id', axis=1, inplace=True)
X = np.asarray(df)

In [ ]:
from sklearn import preprocessing
Z=np.asarray(df)
Z = preprocessing.StandardScaler().fit(Z).transform(Z)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_features, test_features, train_labels, test_labels = train_test_split(X, Y, test_size = 0.25, random_state = 42)

In [ ]:
train_features2, test_features2, train_labels2, test_labels2 = train_test_split(Z, Y, test_size = 0.25, random_state = 42)

In [ ]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels);

In [ ]:
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 89.97 %.

In [ ]:
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest
tree = rf.estimators_[5]
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest
tree = rf.estimators_[5]
# Export the image to a dot file
export_graphviz(tree, out_file = 'tree.dot', feature_names = feature_list, rounded = True, precision = 1)
# Use dot file to create a graph
(graph, ) = pydot.graph_from_dot_file('tree.dot')
# Write graph to a png file
graph.write_png('tree.png')

In [ ]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 0)
# Train the model on training data
rf.fit(train_features2, train_labels2);

In [ ]:
predictions = rf.predict(test_features2)
# Calculate the absolute errors
errors = abs(predictions - test_labels2)
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels2)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 89.91 %.

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor

In [ ]:

rf = GradientBoostingRegressor(random_state=0)
# Train the model on training data
rf.fit(train_features, train_labels);

In [ ]:
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 90.2 %.

In [ ]:
from sklearn.linear_model import LogisticRegression
rf = LogisticRegression(random_state=0).fit(train_features2, train_labels2)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
predictions = rf.predict(test_features2)
# Calculate the absolute errors
errors = abs(predictions - test_labels2)
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels2)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 80.72 %.

In [ ]:
from sklearn import linear_model
rf = linear_model.ARDRegression()

In [ ]:
rf.fit(train_features2, train_labels2)

ARDRegression(alpha_1=1e-06, alpha_2=1e-06, compute_score=False, copy_X=True,
              fit_intercept=True, lambda_1=1e-06, lambda_2=1e-06, n_iter=300,
              normalize=False, threshold_lambda=10000.0, tol=0.001,
              verbose=False)

In [ ]:
predictions = rf.predict(test_features2)
# Calculate the absolute errors
errors = abs(predictions - test_labels2)
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels2)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 87.27 %.

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA(n_components=79)

In [ ]:
R=X

In [ ]:
pca.fit(R)

PCA(copy=True, iterated_power='auto', n_components=79, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [ ]:
R

array([[   1,   60,    1, ...,    1,   18,   18],
       [   2,   20,    1, ...,    1,   45,   45],
       [   3,   60,    1, ...,    1,   20,   19],
       ...,
       [1458,   70,    1, ...,    1,   80,   15],
       [1459,   20,    1, ...,    1,   71,   25],
       [1460,   20,    1, ...,    1,   56,   56]])

In [ ]:
R = PCA(n_components=78).fit(R).transform(R)

In [ ]:
R

array([[-2.06451428e+03,  1.13500751e+01, -2.80142928e+02, ...,
        -1.03303163e-03,  1.37421685e-13,  1.34193019e-12],
       [-9.11016911e+02, -1.73154212e+01,  7.48780330e+02, ...,
        -6.34134725e-03,  9.73679495e-14,  7.02339758e-13],
       [ 7.35183556e+02,  7.97897861e+01, -4.67235924e+02, ...,
         8.44270272e-03,  1.38868444e-13, -1.53372178e-12],
       ...,
       [-1.45912740e+03,  6.51434860e+02, -1.01329276e+03, ...,
         9.23818130e-03,  1.15854898e-13, -8.44480639e-13],
       [-8.10900027e+02, -6.26547907e+02,  2.99058277e+02, ...,
        -1.73414224e-02, -2.17044772e-13, -9.30925325e-13],
       [-5.77039432e+02, -1.06969567e+02,  6.97327603e+02, ...,
         1.01364028e-03,  7.09835101e-14,  4.83225155e-13]])

In [ ]:
train_features3, test_features3, train_labels3, test_labels3 = train_test_split(R, Y, test_size = 0.25, random_state = 42)

In [ ]:
rf = GradientBoostingRegressor(random_state=0)
# Train the model on training data
rf.fit(train_features3, train_labels3);

In [ ]:
predictions = rf.predict(test_features3)
# Calculate the absolute errors
errors = abs(predictions - test_labels3)
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels3)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 88.46 %.

In [ ]:
rf = linear_model.ARDRegression()
rf.fit(train_features3, train_labels3);

In [ ]:
predictions = rf.predict(test_features3)
# Calculate the absolute errors
errors = abs(predictions - test_labels3)
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels3)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 86.63 %.

In [ ]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 0)

In [ ]:
rf.fit(train_features3, train_labels3)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [ ]:
predictions = rf.predict(test_features3)
# Calculate the absolute errors
errors = abs(predictions - test_labels3)
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels3)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 86.92 %.

In [ ]:
dr = pd.read_csv('/content/test.csv')
ds = pd.DataFrame()
ds['Id']=dr['Id']

In [ ]:
dr=data_cleaning(dr)

In [ ]:
for i in dr.columns :
  dr[i]=dr[i].replace(np.nan,0)

In [ ]:
dr=dr.astype('int64')

In [ ]:
dr.drop('Id', axis=1, inplace=True)
Test = np.asarray(dr)

In [ ]:
rf = GradientBoostingRegressor(random_state=0)
# Train the model on training data
rf.fit(train_features, train_labels);

In [ ]:
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 90.2 %.

In [ ]:
predictions = rf.predict(Test)

In [ ]:
ds['SalePrice']=predictions

In [ ]:
ds.head()

     Id      SalePrice
0  1461  136139.715138
1  1462  156531.281444
2  1463  176594.435799
3  1464  183995.936324
4  1465  200896.140116

In [ ]:
ds.head()

In [ ]:
ds.to_csv('abadila.csv', index=False)

In [ ]:
predictions = rf.predict(Test)

In [ ]:
ds['SalePrice']=predictions

In [ ]:
ds.to_csv('abadila2.csv', index=False)